


body{
    text-align: center;
    margin: 1rem;
    background-color: gainsboro;
}
.question{
    color: red;
    letter-spacing: 0.1rem;
    font-size: large;
}

.answer{
    font-size: larger;
    font-weight: bold;
    padding: 1rem;
    color: green;
    text-align: left;
}
footer{
    padding: 2rem;
}

.container{
    margin: auto;
    padding: 1rem;
}